<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <title>Unauthorized</title>
</head>
<body>
  <nav>
    <h4>CIS485 Final Project</h4>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <div class="container text-center mt-5">
    <h1 class="display-4">401 - Token Expired or Invalid </h1>
    <p class="lead">You do not have permissions to view this page. Please Log in Again</p>
    <a href="/" class="btn btn-primary mt-3">Go Back Home</a>
  </div>
</body>
</html>
